<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.essiembre.eclipse.i18n.resourcebundle"
   name="%plugin.name"
   version="0.5.1"
   provider-name="%plugin.provider"
   class="com.essiembre.eclipse.i18n.resourcebundle.ResourceBundlePlugin">

   <runtime>
      <library name="resourcebundle.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jdt.ui" optional="true"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.rbe"
            extensions="properties"
            icon="icons/propertiesfile.gif"
            contributorClass="com.essiembre.eclipse.i18n.resourcebundle.editors.ResourceBundleEditorContributor"
            class="com.essiembre.eclipse.i18n.resourcebundle.editors.ResourceBundleEditor"
            id="com.essiembre.eclipse.i18n.resourcebundle.editors.ResourceBundleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizard.rb"
            id="com.essiembre.eclipse.i18n.resourcebundle">
      </category>
      <wizard
            name="ResourceBundle"
            icon="icons/resourcebundle.gif"
            category="com.essiembre.eclipse.i18n.resourcebundle"
            class="com.essiembre.eclipse.i18n.resourcebundle.wizards.ResourceBundleWizard"
            id="com.essiembre.eclipse.i18n.resourcebundle.wizards.ResourceBundleWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%editor.rbe"
            class="com.essiembre.eclipse.i18n.resourcebundle.preferences.ResourceBundlePreferencePage"
            id="com.essiembre.eclipse.i18n.resourcebundle.preferences.ResourceBundlePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.essiembre.eclipse.i18n.resourcebundle.views.ResourceBundleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
<!--
      <scope name="foo" class="com.example.FooPrefs" />
-->
      <initializer class="com.essiembre.eclipse.i18n.resourcebundle.preferences.ResourceBundlePreferenceInitializer"/>
   </extension>
   

</plugin>
